<!doctype html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="./cards.js"></script>
    <link rel="stylesheet" href="./css/styles.css">
  </head>
  <body>
    <div ng-app="cardsApp" ng-controller="cardsController">
      <div ng-repeat="card in cardsData|limitTo:show">
        <div class="card {{card.type}}">
            <img src="./img/{{card.image}}"  />
            <h1 class="title"><span>{{card.title}}</span></h1>
            <h2 class="author">{{card.author}}</h2>
        </div>
        <div class="card back {{card.type}}">
          <div class="frame"><img src="./img/nfc2.png" /></div>
          <h2 class="narrator" ng-if="card.narrator">Read by {{card.narrator}}</h2>
        </div>
    </div>  
    </div>
  </body>
</html>